extends container

block styleSheet
	link(rel="stylesheet", href="./asset/stylesheets/record.css")

block content
	include navBar
	.ui.container
		//- h4.ui.horizontal.divider.header
			//- i.tag.icon
			//- | Description
		.ui.tall.stacked.segment(style='min-height:200px')
			.teacher
				img.ui.small.rounded.image(src='http://pgw.udn.com.tw/gw/photo.php?u=http://uc.udn.com.tw/photo/2015/09/28/6/1355089.jpg&sl=W&fw=450')
			h2.ui
				| 廣泛閱讀與國際關懷(博通-生涯發展類) 
				br
				| READNING AND INTERNATIONAL HUMANITARIANISM 
			a.ui.blue.tag.label 1041學期
			a.ui.teal.tag.label 1CC1340T
			a.ui.orange.tag.label F班
			a.ui.purple.tag.label 第1冊
			br
			.ui.list
				.item
					i.flag.icon
					.content
						.header 主題式引導教學
						.description
							| 透過主題式引導、情境氛圍塑造、英文故事讀本閱讀、影片賞析、國際學生/志工交流與專題演講，讓學生回顧以往的認知經驗，
							br
							| 引發學習興趣，增進同理心與感受力。 
				.item
					i.help.icon
					.content
						.header 認識與反思
						.description
							| 透過主題課程，引導學生對英文廣泛閱讀及普世所關切的重要議題有更深刻的認識與反思。 
				.item
					i.smile.icon
					.content
						.header 互動式教學
						.description
							| 透過課前、課後問題討論與主題作業，訓練學生多元思考，培養分析、歸納、聯想、批判、統整知識的能力。 
				.item
					i.book.icon
					.content
						.header 指定用書 1
						.description
							| Dragon’s Eggs /J. M. Newsome Cambridge English Readers (Level 5) 
				.item
					i.book.icon
					.content
						.header 指定用書 2
						.description
							| Nelson's Dream/ J. M. Newsome Cambridge English Readers (Level 6)  
			br
			// - 課程介紹 end
			
		h4.ui.horizontal.divider.header
			i.trophy.icon
			| Class Records

		table.ui.celled.padded.table
			- for( var i = 0; i < data.length; i++ )
				- var record = data[i];
				- if( i == 0)
					thead
						tr
							th.single.line= record.week
							th= record.content
							th= record.todo
							th= '課程進度'
					tbody
				- else
					tr
						td.single.line
							h2.ui.center.aligned.header= record.week
						td= record.content
						td
							- for( var n = 0; n < record.todo.length; n++ )
								= record.todo[n]
								br
						td.right.aligned.single.line
							- if(record.percent === 100)
								a.ui.green.circular.label= record.percent + '%'
							- else if(record.percent > 0)
								a.ui.orange.circular.label= record.percent + '%'
							- else
								a.ui.gray.circular.label= record.percent + '%'
							br
							br
							- if(record.num > 0)
								a(href='./record_week' + i + '.html').ui.label.blue 相關記錄
									.detail= record.num
							- else
								a.ui.label 相關記錄
									.detail= record.num
							
		br
		br
		br
		include footer

block javaScript
	//- 在這邊寫上你需要用的 js
